
* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
}
#reset-container , h1 ,#winner{
    text-align: center;
}
.hide {
    display: none;
}

.fild {
    
    border: 1px solid black;
    height: 750px;
    width: 900px;
    left: 400px;
    left: 560px;
}
.goaltarget {
    height: 600px;
}
.clear {
    clear: both;
}
.play2{
    position: relative;
    float:right;
    top: -180px;
    right: 10px;
}
.play1 {
    position: relative;
    top: -25px;
    left: 10px;
}
#teamone-shoot-button {
    position: relative;
    top: -170px;
    font-size: x-large;
    left: 10px;
}
#teamtwo-shoot-button {
    position: relative;
    top: -258px;
    font-size: x-large;
    right: -78px;
    float:right;
}

#reset-button {
    font-size: x-large;
}
.goals1 {
    position: relative;
    top: -10px;
    font-weight: bolder;
    font-size: x-large;
}
.goals2 {
    position: relative;
    top: -100px;
    left: 700px;
    font-weight: bolder;
    font-size: x-large;
    
}
#num-resets{
    font-size: xx-large;
}
#green {
    position: relative;
   
    height: 70px;
    width: 70px;
    left: 220px;
    top: -170px;
    display: none;

    
    
    



}